header {
    background: black;
    text-decoration: none;
    height:60px;
    width: 100%;
  }
  header .left-menu {
    float:left;
    display:inline-block;
    color:red;
    margin-top: 9px;
    margin-left: 50px;
  }
  header .left-menu .logo img.resize {
    width:12%;
    display: inline-block;
    margin-top: -20px;
  }
  header .left-menu .logo a{
    text-decoration: none;
    color:red;
  }
  header .right-menu {
    float: right;
    color:red;
    padding:42px;
    margin: -109px 30px 20px 0;
    /* display: inline-flex; */
  }
  header .right-menu .search-icon {
    display: inline-block;
    font-size: 20px;
  }
  header .right-menu .search-icon a {
    text-decoration: none;
    color:red;
  }
  header .right-menu .search-icon a:hover {
    text-decoration: none;
    color:white;
  }
  header .right-menu .search input {
    background: black;
    display: inline-block;
    font-size: 20px;
    border: 0;
    margin-left: 10px;
    width:60%;
  }
  header .right-menu .search input:focus {
    outline: none;
    border: 0;
    color:darkgrey;
  }
  header .right-menu .search input[placeholder='Search'] {
    font-style: italic;
    font-size: 20px;
  }
  header .right-menu .search input[type='text'] {
    font-style: normal;
  }
   header .right-menu .search {
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-decoration: none;
    color:red;
    margin-right: -120px;
  }
  header .right-menu .user-icon {
    display: inline-block;
    font-size: 20px;
    padding-left: 30px;
  }
  header .right-menu .user-icon a{
    color:red;
  }
  header .right-menu .user-icon a:hover{
    color:white;
    text-decoration: none;
  }
  header .right-menu .user-menu {
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    padding-left:3px;
    font-size: 20px;
    font-weight: 100;
  }
  header .right-menu .user-dropdown {
    display: inline-block;
    padding-left: 14px;
  }
  header .right-menu .user-dropdown a{
    color:red;
    font-size:26px;
  }

  #large-img {
    background:-webkit-linear-gradient(180deg, rgba(42,42,43,.3) 0%, #000000 100%),url(aliencovenant.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 345px 0px;
    width: 85%;
    height: 0px;
    background-position: center;
    margin-left: 350px;
    border: 1px solid black;
  }
  #large-img .left-box {
    width: 30%;
    margin-left: -290px;
    margin-top: -320px;
    position: relative;
  }
  #large-img .left-box h3 {
    color:white;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 100;
    font-size:25px;
  }
  #large-img .left-box h3 .netflix {
    font-weight: bold;
    font-size: 25px;
    letter-spacing: 0px;
  }
  #large-img .left-box h1 {
    color:white;
    font-size: 40px;
    margin:30px 0 30px 0;
    font-family: 'Thasadith', sans-serif;
    font-weight:700;
    letter-spacing: 80px;
  }
  #large-img .left-box h1 .covenant {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 50px;
    margin-left: 0px;
  }
  #large-img .left-box  .stars h4 {
    color:white;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 100;
    font-family: 'Pathway Gothic One', sans-serif;
    margin-left: 8px;
    display: inline-block;
    border: 2px solid grey;
    position: absolute;
    margin-top: -3px;
  }
  #large-img .left-box  .stars h4 .rated {
    margin: 21px;
    margin-left: 7px;
    font-size: 21px;
    margin-right: 2px;
  }
  #large-img .left-box .stars .box-1 {
    margin-left: 70px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: grey;
    color: black;
    display: inline-block;
    width: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  #large-img .left-box .stars .box-1 .def {
    font-size: 21px;
    letter-spacing: 1px;
    margin-left: 5px;
  }
  #large-img .left-box  .stars  .box-2 {
    margin-left: 0px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Pathway Gothic One', sans-serif;
    background-color: grey;
    color: black;
    display: inline-block;
    width: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  #large-img .left-box .stars .box-2 .ratio {
    font-size: 21px;
    letter-spacing: 1px;
    margin-left: 5px;
  }
  #large-img .left-box .stars {
    font-size: 22px;
    color: darkgrey;
    margin-bottom: 50px;
    letter-spacing: 5px;
    position: relative;
  }
  #large-img .left-box .stars .star-1,
  .star-2,
  .star-3,
  .star-4,
  .star-6 {
    color:red;
  }
  #large-img .left-box .stars .star-6{
    margin-left: -41px;
  }
  #large-img .left-box .description {
    color:white;
    font-size: 20px;
    width: 430px;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.4;
    font-weight: 100;
    letter-spacing: 0px;
  }
  #large-img .left-box .button1 {
    border: none;
    border-radius: 5px;
    width:90px;
    background:white;
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    padding:20px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    margin-top: 55px;
  }
  #large-img .left-box .button1:hover {
    background: red;
    cursor: pointer;
    transition: .5s ease;
  }
  #large-img .left-box .button2 {
    border: none;
    border-radius: 5px;
    width:90px;
    background:white;
    display: inline-block;
    font-family: 'Noto Sans', sans-serif;
    padding:20px;
    text-align: center;
    font-size: 26px;
    font-weight: 400;
  }
  #large-img .left-box .button2 .fa{
    display: inline-block;
  }
  #large-img .left-box .button2 .my-list{
    display: inline-block;
  }
  #large-img .left-box .button2:hover {
    background:red;
    cursor: pointer;
    transition: .5s ease;
  }
  #videosection {
    height:900px;
    width: 100%;
    background: black;
    margin-top: -140px;
  }

  /* CONTINUE WATCHING SECTION */
  .continue-watching {
    font-size: 38px;
    font-family: 'Noto Sans', sans-serif;
    color:white;
    padding: 10px;
    font-weight: lighter;
    margin-bottom: 20px;
    padding-top: 20px;
    margin-left: 50px;
  }
  .row-1 {
    width:100%;
    font-size: 0;
    display: inline-flex;
    margin-left: 12px;
  }
  .row-1 .watching {
    width:32%;
    margin-right: 14px;
    height: 300px;
  }

  .video1 img.resize,
  .video2 img.resize,
  .video3 img.resize {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    width: 100%;
    background-color: rgba(170,170,170,0.6);
    position: relative;
  }
  .video1 .overlay-1,
  .video2 .overlay-2,
  .video3 .overlay-3 {
    background: rgba(0,0,0,.6);
    color:grey;
    opacity:0;
    height:300px;
    margin-top: -300px;
  }
  .video1:hover .overlay-1,
  .video2:hover .overlay-2,
  .video3:hover .overlay-3 {
    opacity: 1;
    border: 3px solid white;
    width:405px;
    transition: .4s ease;
    height:294px;
    position: absolute;
  }
  .video1:hover .overlay-1 h1,
  .video2:hover .overlay-2 h1,
  .video3:hover .overlay-3 h1 {
    font-size: 40px;
    visibility: visible;
    color: white;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    padding: 10px;
  }
  .video1:hover .overlay-1 h4 {
    font-size: 30px;
    visibility: visible;
    color: white;
    text-align: left;
    margin-top: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    margin-left: 10px;
  }
  .video1:hover .overlay-1 i {
    font-size: 70px;
    visibility: visible;
    color: white;
    margin-top: 25px;
    margin-left:170px;
  }
  .video2:hover .overlay-2 i,
  .video3:hover .overlay-3 i {
    font-size: 70px;
    visibility: visible;
    color: white;
    margin-top: 70px;
    margin-left:170px;
  }
  .video1:hover .overlay-1 i:hover,
  .video2:hover .overlay-2 i:hover,
  .video3:hover .overlay-3 i:hover {
    color:red;
    transition: .5s ease;
    cursor: pointer;
  }
   .video1:hover .overlay-1 .progress-1 {
    height:20px;
    width:100px;
    background-color: red;
    margin-top: 74px;
    margin-left: 0px;
    background: -webkit-linear-gradient(left, rgba(255,26,0,0.32) 0%,rgba(255,26,0,0.32) 1%,rgba(255,26,0,1) 100%);
  }
  .video2:hover .overlay-2 .progress-2,
  .video3:hover .overlay-3 .progress-3 {
    height:20px;
    width:300px;
    background-color: red;
    margin-top: 74px;
    margin-left: 0px;
    background: -webkit-linear-gradient(left, rgba(255,26,0,0.32) 0%,rgba(255,26,0,0.32) 1%,rgba(255,26,0,1) 100%);
  }

    /* TOP PICKS SECTIONS  */
  .top-picks {
    font-size: 38px;
    font-family: 'Noto Sans', sans-serif;
    color:white;
    padding: 10px;
    font-weight: lighter;
    margin-bottom: 28px;
    padding-top: 20px;
    margin-left: 50px;
  }
  .row-2 {
    width:100%;
    font-size: 0;
    display: inline-flex;
    margin-left: 12px;
  }
  .row-2 .videoboxes {
    width:198px;
    margin-right: 14px;
    height: 380px;
  }
  .video5 img.resize,
  .video6 img.resize,
  .video7 img.resize,
  .video8 img.resize,
  .video9 img.resize,
  .video10 img.resize {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 380px;
    width: 100%;
    background-color: rgba(170,170,170,0.6);
  }
  .video5:hover img.resize {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 410px;
    width: 112%;
    background-color: rgba(170,170,170,0.6);
    position: relative;
    margin-top: -13px;
    margin-left: -10px;
  }
  .video6:hover img.resize,
  .video7:hover img.resize,
  .video8:hover img.resize,
  .video9:hover img.resize,
  .video10:hover img.resize {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 410px;
    width: 114%;
    background-color: rgba(170,170,170,0.6);
    position: relative;
    margin-top: -13px;
    margin-left: -14px;
  }
   .video5 .overlay-5,
   .video6 .overlay-6,
   .video7 .overlay-7,
   .video8 .overlay-8,
   .video9 .overlay-9,
   .video10 .overlay-10 {
    background:rgba(0,0,0,.6);
    color:grey;
    opacity:0;
    height:410px;
    margin-top: -403px;
    position: relative;
  }
  .video5:hover .overlay-5 {
    opacity: 1;
    height:410px;
    width:222px;
    transition: 0s ease-in-out;
    position: absolute;
    margin-top: -410px;
    margin-left: -10px;
  }
  .video6:hover .overlay-6,
  .video7:hover .overlay-7,
  .video8:hover .overlay-8,
  .video9:hover .overlay-9,
  .video10:hover .overlay-10 {
    opacity: 1;
    height:410px;
    width:226px;
    transition: 0s ease-in-out;
    position: absolute;
    margin-top: -410px;
    margin-left: -14px;
  }
  .video5:hover .overlay-5 h1,
  .video6:hover .overlay-6 h1,
  .video7:hover .overlay-7 h1,
  .video8:hover .overlay-8 h1,
  .video9:hover .overlay-9 h1,
  .video10:hover .overlay-10 h1 {
    font-size: 30px;
    visibility: visible;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    padding-top: 20px;
    text-align: center;
  }
  .video5:hover .overlay-5 h4,
  .video6:hover .overlay-6 h4,
  .video7:hover .overlay-7 h4,
  .video8:hover .overlay-8 h4,
  .video9:hover .overlay-9 h4,
  .video10:hover .overlay-10 h4 {
    font-size: 16px;
    visibility: visible;
    color: white;
    font-style: italic;
    text-align: left;
    margin-top: 15px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    text-align: center;
  }
  .video5:hover .overlay-5 .button1,
  .video6:hover .overlay-6 .button1,
  .video7:hover .overlay-7 .button1,
  .video9:hover .overlay-9 .button1,
  .video10:hover .overlay-10 .button1 {
    font-size: 26px;
    margin-top: 220px;
    border: none;
    border-radius: 5px;
    width:90px;
    background: white;
    font-family: 'Noto Sans', sans-serif;
    padding: 20px;
    text-align: center;
    font-weight: 400;
    color: black;
    margin-left: 45px;
  }
  .video8:hover .overlay-8 .button1 {
    font-size: 26px;
    margin-top: 190px;
    border: none;
    border-radius: 5px;
    width:90px;
    background: white;
    font-family: 'Noto Sans', sans-serif;
    padding: 20px;
    text-align: center;
    font-weight: 400;
    color: black;
    margin-left: 45px;
  }
  .video5:hover .overlay-5 .button1:hover,
  .video6:hover .overlay-6 .button1:hover,
  .video7:hover .overlay-7 .button1:hover,
  .video8:hover .overlay-8 .button1:hover,
  .video9:hover .overlay-9 .button1:hover,
  .video10:hover .overlay-10 .button1:hover {
    background: red;
    transition: .5s ease;
    cursor: pointer;
  }

  /* MEDIA QUERIES */

  @media(min-width:1360px) and (max-width:1370px) {
    #large-img {
      background:-webkit-linear-gradient(180deg, rgba(42,42,43,.3) 0%, #000000 100%),url(aliencovenant.jpeg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding: 345px 0px;
      width: 85%;
      height: 0px;
      background-position: center;
      margin-left: 350px;
      border: 1px solid black;
    }
    /* CONTINUE WATCHING SECTION */
    .video1:hover .overlay-1,
    .video2:hover .overlay-2,
    .video3:hover .overlay-3 {
      opacity: 1;
      border: 3px solid white;
      width:432px;
      transition: .4s ease;
      height:294px;
      position: absolute;
    }
    .video2:hover .overlay-2 .progress-2 {
      height:20px;
      width:350px;
      background-color: red;
      margin-top: 74px;
      margin-left: 0px;
      background: -webkit-linear-gradient(left, rgba(255,26,0,0.32) 0%,rgba(255,26,0,0.32) 1%,rgba(255,26,0,1) 100%);
    }
      /* TOP PICKS SECTIONS  */
    .row-2 .videoboxes {
      width:212px;
      margin-right: 14px;
      height: 380px;
    }
    .video5:hover .overlay-5 {
      opacity: 1;
      height:410px;
      width:236px;
      transition: 0s ease-in-out;
      position: absolute;
      margin-top: -410px;
      margin-left: -10px;
    }
    .video6:hover .overlay-6,
    .video7:hover .overlay-7,
    .video8:hover .overlay-8,
    .video9:hover .overlay-9,
    .video10:hover .overlay-10 {
      opacity: 1;
      height:410px;
      width:243px;
      transition: 0s ease-in-out;
      position: absolute;
      margin-top: -410px;
      margin-left: -14px;
    }
  }

  @media(min-width:1440px) and (max-width:1450px) {
    #large-img {
      background:-webkit-linear-gradient(180deg, rgba(42,42,43,.3) 0%, #000000 100%),url(aliencovenant.jpeg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding: 345px 0px;
      width: 85%;
      height: 0px;
      background-position: center;
      margin-left: 350px;
      border: 1px solid black;
    }
    /* CONTINUE WATCHING SECTION */
    .video1:hover .overlay-1,
    .video2:hover .overlay-2,
    .video3:hover .overlay-3 {
      opacity: 1;
      border: 3px solid white;
      width:458px;
      transition: .4s ease;
      height:294px;
      position: absolute;
    }
    .video1:hover .overlay-1 i {
      font-size: 70px;
      visibility: visible;
      color: white;
      margin-top: 25px;
      margin-left:190px;
    }
    .video2:hover .overlay-2 i,
    .video3:hover .overlay-3 i {
      font-size: 70px;
      visibility: visible;
      color: white;
      margin-top: 70px;
      margin-left:190px;
    }
    .video2:hover .overlay-2 .progress-2 {
      height:20px;
      width:400px;
      background-color: red;
      margin-top: 74px;
      margin-left: 0px;
      background: -webkit-linear-gradient(left, rgba(255,26,0,0.32) 0%,rgba(255,26,0,0.32) 1%,rgba(255,26,0,1) 100%);
    }
      /* TOP PICKS SECTIONS  */
    .row-2 .videoboxes {
      width:223px;
      margin-right: 14px;
      height: 380px;
    }
    .video5:hover .overlay-5 {
      opacity: 1;
      height:410px;
      width:250px;
      transition: 0s ease-in-out;
      position: absolute;
      margin-top: -410px;
      margin-left: -10px;
    }
    .video6:hover .overlay-6,
    .video7:hover .overlay-7,
    .video8:hover .overlay-8,
    .video9:hover .overlay-9,
    .video10:hover .overlay-10 {
      opacity: 1;
      height:410px;
      width:254px;
      transition: 0s ease-in-out;
      position: absolute;
      margin-top: -410px;
      margin-left: -14px;
    }
    .video5:hover .overlay-5 .button1,
    .video6:hover .overlay-6 .button1,
    .video7:hover .overlay-7 .button1,
    .video9:hover .overlay-9 .button1,
    .video10:hover .overlay-10 .button1 {
      font-size: 26px;
      margin-top: 220px;
      border: none;
      border-radius: 5px;
      width:90px;
      background: white;
      font-family: 'Noto Sans', sans-serif;
      padding: 20px;
      text-align: center;
      font-weight: 400;
      color: black;
      margin-left: 60px;
    }
    .video8:hover .overlay-8 .button1 {
      font-size: 26px;
      margin-top: 190px;
      border: none;
      border-radius: 5px;
      width:90px;
      background: white;
      font-family: 'Noto Sans', sans-serif;
      padding: 20px;
      text-align: center;
      font-weight: 400;
      color: black;
      margin-left: 60px;
    }
  }
  @media(min-width:1600px) and (max-width:1610px) {

    header .right-menu {
      float: right;
      color:red;
      padding:42px;
      margin-left:180px;
      /* display: inline-flex; */
    }
    #large-img {
      background:-webkit-linear-gradient(180deg, rgba(42,42,43,.3) 0%, #000000 100%),url(aliencovenant.jpeg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding: 345px 0px;
      width: 85%;
      height: 0px;
      background-position: center;
      margin-left: 350px;
      border: 1px solid black;
    }

    /* CONTINUE WATCHING SECTION */

    .row-1 .watching {
      width:32.2%;
      margin-right: 14px;
      height: 300px;
    }
    .video1:hover .overlay-1,
    .video2:hover .overlay-2,
    .video3:hover .overlay-3 {
      opacity: 1;
      border: 3px solid white;
      width:510px;
      transition: .4s ease;
      height:294px;
      position: absolute;
    }
    .video1:hover .overlay-1 i {
      font-size: 70px;
      visibility: visible;
      color: white;
      margin-top: 25px;
      margin-left:220px;
    }
    .video2:hover .overlay-2 i,
    .video3:hover .overlay-3 i {
      font-size: 70px;
      visibility: visible;
      color: white;
      margin-top: 70px;
      margin-left:220px;
    }
    .video2:hover .overlay-2 .progress-2 {
      height:20px;
      width:400px;
      background-color: red;
      margin-top: 74px;
      margin-left: 0px;
      background: -webkit-linear-gradient(left, rgba(255,26,0,0.32) 0%,rgba(255,26,0,0.32) 1%,rgba(255,26,0,1) 100%);
    }
      /* TOP PICKS SECTIONS  */
    .row-2 .videoboxes {
      width:251px;
      margin-right: 14px;
      height: 380px;
    }
    .video5:hover .overlay-5 {
      opacity: 1;
      height:410px;
      width:282px;
      transition: 0s ease-in-out;
      position: absolute;
      margin-top: -410px;
      margin-left: -10px;
    }
    .video6:hover .overlay-6,
    .video7:hover .overlay-7,
    .video8:hover .overlay-8,
    .video9:hover .overlay-9,
    .video10:hover .overlay-10 {
      opacity: 1;
      height:410px;
      width:286px;
      transition: 0s ease-in-out;
      position: absolute;
      margin-top: -410px;
      margin-left: -14px;
    }
    .video5:hover .overlay-5 .button1,
    .video6:hover .overlay-6 .button1,
    .video7:hover .overlay-7 .button1,
    .video9:hover .overlay-9 .button1,
    .video10:hover .overlay-10 .button1 {
      font-size: 26px;
      margin-top: 220px;
      border: none;
      border-radius: 5px;
      width:90px;
      background: white;
      font-family: 'Noto Sans', sans-serif;
      padding: 20px;
      text-align: center;
      font-weight: 400;
      color: black;
      margin-left: 75px;
    }
    .video8:hover .overlay-8 .button1 {
      font-size: 26px;
      margin-top: 190px;
      border: none;
      border-radius: 5px;
      width:90px;
      background: white;
      font-family: 'Noto Sans', sans-serif;
      padding: 20px;
      text-align: center;
      font-weight: 400;
      color: black;
      margin-left: 75px;
    }
  }

  /* 22" desktop */
  @media(min-width:1680px) and (max-width:1690px) {
    header .right-menu {
      float: right;
      color:red;
      padding:42px;
      margin-left:240px;
    }
    #large-img {
      background:-webkit-linear-gradient(180deg, rgba(42,42,43,.3) 0%, #000000 100%),url(aliencovenant.jpeg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding: 345px 0px;
      width: 80%;
      height: 0px;
      background-position: center;
      margin-left: 350px;
      border: 1px solid black;
    }
    .row-1 {
      width:100%;
      font-size: 0;
      display: inline-flex;
      margin-left: 19px;
    }
    .video1:hover .overlay-1,
    .video2:hover .overlay-2,
    .video3:hover .overlay-3 {
      opacity: 1;
      border: 3px solid white;
      width:534px;
      transition: .4s ease;
      height:294px;
      position: absolute;
    }
    .video1:hover .overlay-1 i {
      font-size: 70px;
      visibility: visible;
      color: white;
      margin-top: 25px;
      margin-left:220px;
    }
    .video2:hover .overlay-2 i,
    .video3:hover .overlay-3 i {
      font-size: 70px;
      visibility: visible;
      color: white;
      margin-top: 70px;
      margin-left:220px;
    }
    .video2:hover .overlay-2 .progress-2 {
      height:20px;
      width:500px;
      background-color: red;
      margin-top: 74px;
      margin-left: 0px;
      background: -webkit-linear-gradient(left, rgba(255,26,0,0.32) 0%,rgba(255,26,0,0.32) 1%,rgba(255,26,0,1) 100%);
    }
    .row-2 {
      width:100%;
      font-size: 0;
      display: inline-flex;
      margin-left: 21px;
    }
    .row-2 .videoboxes {
      width:262px;
      margin-right: 14px;
      height: 380px;
    }
    .video5:hover .overlay-5 {
      opacity: 1;
      height:410px;
      width:292px;
      transition: 0s ease-in-out;
      position: absolute;
      margin-top: -410px;
      margin-left: -10px;
    }
    .video6:hover .overlay-6,
    .video7:hover .overlay-7,
    .video8:hover .overlay-8,
    .video9:hover .overlay-9,
    .video10:hover .overlay-10 {
      opacity: 1;
      height:410px;
      width:300px;
      transition: 0s ease-in-out;
      position: absolute;
      margin-top: -410px;
      margin-left: -14px;
    }
    .video5:hover .overlay-5 .button1,
    .video6:hover .overlay-6 .button1,
    .video7:hover .overlay-7 .button1,
    .video9:hover .overlay-9 .button1,
    .video10:hover .overlay-10 .button1 {
      font-size: 26px;
      margin-top: 220px;
      border: none;
      border-radius: 5px;
      width:90px;
      background: white;
      font-family: 'Noto Sans', sans-serif;
      padding: 20px;
      text-align: center;
      font-weight: 400;
      color: black;
      margin-left: 85px;
    }
    .video8:hover .overlay-8 .button1 {
      font-size: 26px;
      margin-top: 190px;
      border: none;
      border-radius: 5px;
      width:90px;
      background: white;
      font-family: 'Noto Sans', sans-serif;
      padding: 20px;
      text-align: center;
      font-weight: 400;
      color: black;
      margin-left: 85px;
    }
  }
  @media(min-width:1920px) and (max-width:1930px) {
    header .right-menu {
      float: right;
      color:red;
      padding:42px;
      margin-left:480px;
    }
    #large-img {
      background:-webkit-linear-gradient(180deg, rgba(42,42,43,.3) 0%, #000000 100%),url(aliencovenant.jpeg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding: 345px 0px;
      width: 85%;
      height: 0px;
      background-position: center;
      margin-left: 350px;
      border: 1px solid black;
    }
    .row-1 {
      width:100%;
      font-size: 0;
      display: inline-flex;
      margin-left: 25px;
    }
    .video1:hover .overlay-1,
    .video2:hover .overlay-2,
    .video3:hover .overlay-3 {
      opacity: 1;
      border: 3px solid white;
      width:610px;
      transition: .4s ease;
      height:294px;
      position: absolute;
    }
    .video1:hover .overlay-1 i {
      font-size: 70px;
      visibility: visible;
      color: white;
      margin-top: 25px;
      margin-left:260px;
    }
    .video2:hover .overlay-2 i,
    .video3:hover .overlay-3 i {
      font-size: 70px;
      visibility: visible;
      color: white;
      margin-top: 70px;
      margin-left:260px;
    }
    .video2:hover .overlay-2 .progress-2 {
      height:20px;
      width:500px;
      background-color: red;
      margin-top: 74px;
      margin-left: 0px;
      background: -webkit-linear-gradient(left, rgba(255,26,0,0.32) 0%,rgba(255,26,0,0.32) 1%,rgba(255,26,0,1) 100%);
    }
    .video3:hover .overlay-3 .progress-3 {
      height:20px;
      width:300px;
      background-color: red;
      margin-top: 74px;
      margin-left: 0px;
      background: -webkit-linear-gradient(left, rgba(255,26,0,0.32) 0%,rgba(255,26,0,0.32) 1%,rgba(255,26,0,1) 100%);
    }
    .row-2 {
      width:100%;
      font-size: 0;
      display: inline-flex;
      margin-left: 30px;
    }
    .row-2 .videoboxes {
      width:300px;
      margin-right: 14px;
      height: 380px;
    }
    .video5:hover .overlay-5 {
      opacity: 1;
      height:410px;
      width:342px;
      transition: 0s ease-in-out;
      position: absolute;
      margin-top: -410px;
      margin-left: -10px;
    }
    .video6:hover .overlay-6,
    .video7:hover .overlay-7,
    .video8:hover .overlay-8,
    .video9:hover .overlay-9,
    .video10:hover .overlay-10 {
      opacity: 1;
      height:410px;
      width:342px;
      transition: 0s ease-in-out;
      position: absolute;
      margin-top: -410px;
      margin-left: -14px;
    }
    .video5:hover .overlay-5 .button1,
    .video6:hover .overlay-6 .button1,
    .video7:hover .overlay-7 .button1,
    .video9:hover .overlay-9 .button1,
    .video10:hover .overlay-10 .button1 {
      font-size: 26px;
      margin-top: 220px;
      border: none;
      border-radius: 5px;
      width:90px;
      background: white;
      font-family: 'Noto Sans', sans-serif;
      padding: 20px;
      text-align: center;
      font-weight: 400;
      color: black;
      margin-left: 105px;
    }
    .video8:hover .overlay-8 .button1 {
      font-size: 26px;
      margin-top: 215px;
      border: none;
      border-radius: 5px;
      width:90px;
      background: white;
      font-family: 'Noto Sans', sans-serif;
      padding: 20px;
      text-align: center;
      font-weight: 400;
      color: black;
      margin-left: 105px;
    }
     @media(min-width:360px) and (max-width:370px) {
    header {
      background: black;
      text-decoration: none;
      height:74px;
      width: 198%;
    }
    header .left-menu {
      float:left;
      display:inline-block;
      color:red;
      margin-top: 23px;
      margin-left: 50px;
    }
    header .left-menu .logo img.resize {
      width:20%;
      display: inline-block;
      margin-top: -32px;
    }
    header .left-menu .logo a{
      text-decoration: none;
      color:red;
    }
    header .right-menu {
      float: right;
      color:red;
      display: inline-flex;
      margin-top:-104px;
      margin-right: -60px;

    }
    header .right-menu .search-icon {
      display: inline-block;
      font-size: 20px;
    }
    header .right-menu .search-icon a {
      text-decoration: none;
      color:red;
    }
    header .right-menu .search-icon a:hover {
      text-decoration: none;
      color:white;
    }
    header .right-menu .search input {
      background: black;
      display: inline-block;
      font-size: 20px;
      border: 0;
      margin-left: 10px;
      width:60%;
    }
    header .right-menu .search input:focus {
      outline: none;
      border: 0;
      color:darkgrey;
    }
    header .right-menu .search input[placeholder='Search'] {
      font-style: italic;
      font-size: 20px;
    }
    header .right-menu .search input[type='text'] {
      font-style: normal;
    }
     header .right-menu .search {
      display: inline-block;
      font-family: 'Noto Sans', sans-serif;
      font-size: 20px;
      font-weight: 100;
      text-decoration: none;
      color:red;
      margin-right: -128px;
    }
    header .right-menu .user-icon {
      display: inline-block;
      font-size: 20px;
      padding-left: 30px;
    }
    header .right-menu .user-icon a{
      color:red;
    }
    header .right-menu .user-icon a:hover{
      color:white;
      text-decoration: none;
    }
    header .right-menu .user-menu {
      display: inline-block;
      font-family: 'Noto Sans', sans-serif;
      padding-left:3px;
      font-size: 20px;
      font-weight: 100;
    }
    header .right-menu .user-dropdown {
    display: none;
    }
    header .right-menu .user-dropdown a{
    display: none;
    }

    #large-img {
      background:-webkit-linear-gradient(180deg, rgba(42,42,43,.3) 0%, #000000 100%),url(aliencovenant.jpeg);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      padding: 260px 0px;
      width: 440px;
      height: 0px;
      background-position: center;
      margin-left: 350px;
      border: 1px solid black;
    }
    #large-img .left-box {
      width: 30%;
      margin-left: -290px;
      margin-top: -320px;
      position: relative;
    }
    #large-img .left-box h1 {
      color:white;
      font-size: 30px;
      font-family: 'Thasadith', sans-serif;
      font-weight:700;
      letter-spacing: 55px;
    }
    #large-img .left-box h1 .covenant {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 30px;
      margin-left: 8px;
    }
    #large-img .left-box  .stars h4 {
      color:white;
      font-size: 24px;
      margin-bottom: 30px;
      font-weight: 100;
      font-family: 'Pathway Gothic One', sans-serif;
      margin-left: 146px;
      border: 2px solid grey;
      position: absolute;
      margin-top: -7px;
    }
    #large-img .left-box  .stars h4 .rated {
      margin-left: 8px;
      font-size: 20px;
      margin-right: 0px;
    }
    #large-img .left-box .stars .box-1 {
      margin-left: 80px;
      font-size: 24px;
      font-weight: bold;
      font-family: 'Pathway Gothic One', sans-serif;
      background-color: grey;
      color: black;
      display: inline-block;
      width: 40px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-top: -4px;
      margin-right: 0px;
    }
    #large-img .left-box .stars .box-1 .def {
      font-size: 21px;
      letter-spacing: 1px;
      margin-left: 5px;
    }
    #large-img .left-box  .stars  .box-2 {
      margin-left: 6px;
      font-size: 24px;
      font-weight: bold;
      font-family: 'Pathway Gothic One', sans-serif;
      background-color: grey;
      color: black;
      display: inline-block;
      width: 40px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin-top: -4px;
    }
    #large-img .left-box .stars .box-2 .ratio {
      font-size: 21px;
      letter-spacing: 1px;
      margin-left: 5px;
    }
    #large-img .left-box .stars {
      font-size: 15px;
      color: darkgrey;
      margin-bottom: 50px;
      letter-spacing: 9px;
      position: relative;
      display: inline-flex;
    }
    #large-img .left-box .stars .star-1,
    .star-2,
    .star-3,
    .star-4,
    .star-6 {
      color:red;
    }
    #large-img .left-box .stars .star-6{
      margin-left: -26px;
    }
    #large-img .left-box .description {
      color:white;
      font-size: 20px;
      width: 308px;
      font-family: 'Noto Sans', sans-serif;
      line-height: 1.2;
      font-weight: 100;
      letter-spacing: 0px;
      margin-bottom: 70px;
    }
    #large-img .left-box .buttons {
      display: inline-flex;
      width: 200%;
    }
    #large-img .left-box .buttons .button1 {
      border: none;
      border-radius: 5px;
      width:90px;
      background:white;
      font-family: 'Noto Sans', sans-serif;
      padding:20px;
      text-align: center;
      font-size: 26px;
      font-weight: 400;
      margin-top: 0px;
      margin-right: 10px;
    }
    #large-img .left-box .buttons .button1:hover {
      background: red;
      cursor: pointer;
      transition: .5s ease;
    }
    #large-img .left-box .buttons .button2 {
      border: none;
      border-radius: 5px;
      width:90px;
      background:white;
      font-family: 'Noto Sans', sans-serif;
      padding:20px;
      text-align: center;
      font-size: 26px;
      font-weight: 400;
    }
    #large-img .left-box .buttons .button2 .fa{
      display: none;
    }
    #large-img .left-box .buttons .button2 .my-list{
      display: inline-block;
    }
    #large-img .left-box .buttons .button2:hover {
      background:red;
      cursor: pointer;
      transition: .5s ease;
    }
    #videosection {
      height:900px;
      width: 100%;
      background: black;
      margin-top: 0px;
    }

    /* CONTINUE WATCHING SECTION */
    .continue-watching {
      font-size: 38px;
      font-family: 'Noto Sans', sans-serif;
      color:white;
      padding: 10px;
      font-weight: lighter;
      margin-bottom: 20px;
      padding-top: 20px;
      margin-left: 50px;
      width: 346px;
    }
    .row-1 {
      width:217%;
      font-size: 0;
      display: inline-flex;
      margin-left: 12px;
    }
    .row-1 .watching {
      margin-right: 14px;
      height: 300px;
    }

    .video1 img.resize,
    .video2 img.resize,
    .video3 img.resize {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 254px;
      width: 100%;
      background-color: rgba(170,170,170,0.6);
      position: relative;
    }
    .video1 .overlay-1,
    .video2 .overlay-2,
    .video3 .overlay-3 {
      background: rgba(0,0,0,.6);
      color:grey;
      opacity:0;
      height:250px;
      margin-top: -254px;
    }
    .video1:hover .overlay-1,
    .video2:hover .overlay-2,
    .video3:hover .overlay-3 {
      opacity: 1;
      border: 3px solid white;
      width:242px;
      transition: .4s ease;
      height:250px;
      position: absolute;
      margin-top: -254px;
    }
    .video1:hover .overlay-1 h1,
    .video2:hover .overlay-2 h1,
    .video3:hover .overlay-3 h1 {
      font-size: 22px;
      visibility: visible;
      color: white;
      text-align: left;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 100;
      padding: 10px;
    }
    .video1:hover .overlay-1 h4 {
      font-size: 16px;
      visibility: visible;
      color: white;
      text-align: left;
      margin-top: 15px;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 100;
      margin-left: 10px;
    }
    .video1:hover .overlay-1 i {
      font-size: 60px;
      visibility: visible;
      color: white;
      margin-top: 25px;
      margin-left:96px;
    }
    .video2:hover .overlay-2 i,
    .video3:hover .overlay-3 i {
      font-size: 60px;
      visibility: visible;
      color: white;
      margin-top: 70px;
      margin-left:96px;
    }
    .video1:hover .overlay-1 i:hover,
    .video2:hover .overlay-2 i:hover,
    .video3:hover .overlay-3 i:hover {
      color:red;
      transition: .5s ease;
      cursor: pointer;
    }
     .video1:hover .overlay-1 .progress-1 {
      height:20px;
      width:100px;
      background-color: red;
      margin-top: 72px;
      margin-left: 0px;
      background: -webkit-linear-gradient(left, rgba(255,26,0,0.32) 0%,rgba(255,26,0,0.32) 1%,rgba(255,26,0,1) 100%);
    }
    .video2:hover .overlay-2 .progress-2 {
      height:20px;
      width:130px;
      background-color: red;
      margin-top: 58px;
      margin-left: 0px;
      background: -webkit-linear-gradient(left, rgba(255,26,0,0.32) 0%,rgba(255,26,0,0.32) 1%,rgba(255,26,0,1) 100%);
    }
    .video3:hover .overlay-3 .progress-3 {
      height:20px;
      width:190px;
      background-color: red;
      margin-top: 58px;
      margin-left: 0px;
      background: -webkit-linear-gradient(left, rgba(255,26,0,0.32) 0%,rgba(255,26,0,0.32) 1%,rgba(255,26,0,1) 100%);
    }

      /* TOP PICKS SECTIONS  */
    .top-picks {
      font-size: 38px;
      font-family: 'Noto Sans', sans-serif;
      color:white;
      padding: 10px;
      font-weight: lighter;
      margin-bottom: 28px;
      padding-top: 20px;
      margin-left: 50px;
    }
    .row-2 {
      width:100%;
      font-size: 0;
      display: inline-flex;
      margin-left: 12px;
    }
    .row-2 .videoboxes {
      width:198px;
      margin-right: 14px;
      height: 380px;
    }
    .video5 img.resize,
    .video6 img.resize,
    .video7 img.resize,
    .video8 img.resize,
    .video9 img.resize,
    .video10 img.resize {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 380px;
      width: 100%;
      background-color: rgba(170,170,170,0.6);
    }
    .video5:hover img.resize {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 410px;
      width: 112%;
      background-color: rgba(170,170,170,0.6);
      position: relative;
      margin-top: -13px;
      margin-left: -10px;
    }
    .video6:hover img.resize,
    .video7:hover img.resize,
    .video8:hover img.resize,
    .video9:hover img.resize,
    .video10:hover img.resize {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      height: 410px;
      width: 114%;
      background-color: rgba(170,170,170,0.6);
      position: relative;
      margin-top: -13px;
      margin-left: -14px;
    }
     .video5 .overlay-5,
     .video6 .overlay-6,
     .video7 .overlay-7,
     .video8 .overlay-8,
     .video9 .overlay-9,
     .video10 .overlay-10 {
      background:rgba(0,0,0,.6);
      color:grey;
      opacity:0;
      height:410px;
      margin-top: -403px;
      position: relative;
    }
    .video5:hover .overlay-5 {
      opacity: 1;
      height:410px;
      width:222px;
      transition: 0s ease-in-out;
      position: absolute;
      margin-top: -410px;
      margin-left: -10px;
    }
    .video6:hover .overlay-6,
    .video7:hover .overlay-7,
    .video8:hover .overlay-8,
    .video9:hover .overlay-9,
    .video10:hover .overlay-10 {
      opacity: 1;
      height:410px;
      width:226px;
      transition: 0s ease-in-out;
      position: absolute;
      margin-top: -410px;
      margin-left: -14px;
    }
    .video5:hover .overlay-5 h1,
    .video6:hover .overlay-6 h1,
    .video7:hover .overlay-7 h1,
    .video8:hover .overlay-8 h1,
    .video9:hover .overlay-9 h1,
    .video10:hover .overlay-10 h1 {
      font-size: 30px;
      visibility: visible;
      color: white;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 100;
      padding-top: 20px;
      text-align: center;
    }
    .video5:hover .overlay-5 h4,
    .video6:hover .overlay-6 h4,
    .video7:hover .overlay-7 h4,
    .video8:hover .overlay-8 h4,
    .video9:hover .overlay-9 h4,
    .video10:hover .overlay-10 h4 {
      font-size: 16px;
      visibility: visible;
      color: white;
      font-style: italic;
      text-align: left;
      margin-top: 15px;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 100;
      text-align: center;
    }
    .video5:hover .overlay-5 .button1,
    .video6:hover .overlay-6 .button1,
    .video7:hover .overlay-7 .button1,
    .video9:hover .overlay-9 .button1,
    .video10:hover .overlay-10 .button1 {
      font-size: 26px;
      margin-top: 220px;
      border: none;
      border-radius: 5px;
      width:90px;
      background: white;
      font-family: 'Noto Sans', sans-serif;
      padding: 20px;
      text-align: center;
      font-weight: 400;
      color: black;
      margin-left: 45px;
    }
    .video8:hover .overlay-8 .button1 {
      font-size: 26px;
      margin-top: 190px;
      border: none;
      border-radius: 5px;
      width:90px;
      background: white;
      font-family: 'Noto Sans', sans-serif;
      padding: 20px;
      text-align: center;
      font-weight: 400;
      color: black;
      margin-left: 45px;
    }
    .video5:hover .overlay-5 .button1:hover,
    .video6:hover .overlay-6 .button1:hover,
    .video7:hover .overlay-7 .button1:hover,
    .video8:hover .overlay-8 .button1:hover,
    .video9:hover .overlay-9 .button1:hover,
    .video10:hover .overlay-10 .button1:hover {
      background: red;
      transition: .5s ease;
      cursor: pointer;
    } 
  }
